*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    height:100vh;
}
h1{
    text-align:center;
    font-size:24px;
    font-weight:bold;
    color:rgb(27, 24, 24);
}

.login{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    padding:20px;
    background-color:black;
}
    
form{
    background:white;
    padding:30px;
    border-radius:12px;
    width:100%;
    max-width:320px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
    
label{
    display:block;
    margin-top:15px;
    font-weight:500;
}
    
input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:6px;
}
    
button{
    margin-top:20px;
    width:100%;
    padding:12px;
    border:none;
    background:#6366f1;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#4f46e5;
}

@media (max-width:480px){
    .login{
        padding:10px;
    }

    form{
        padding:20px;
        max-width:100%;
    }
}